/*Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Fix Right Space */
html, body{
    overflow-x: hidden;
}


/* Common Css */
body{
    font-family: 'Poppins', sans-serif;
}
.small-p{
    font-size: 15px;
}
.heading-color{
    color: #0b0d17;
}


/* our package */
.our-package .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1fr;
    column-gap: 30px;
}
.our-package .table-3{
   transform: scale(1.2) translateY(-8%);
   margin: 0 23px;
}

/* Footer Section */
.footer-bg{
    background-color: #0b0d17;
}


